body
{
    font-size: .85em;
    font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
    color: white;
    background-color: #fff;
    background-image: url("images/scary-halloween-background-hd-wallpaper.jpg");
    
}

span {
    color: rgb(250,0,0);
    font-size: 130%;
    text-shadow: 1px 1px #090909;
}
a:link{
    color: #C90B17;
    text-shadow: 1px 1px #090909;
}

a:visited{
    color:#C90B17;
    text-shadow: 1px 1px #090909;
}

h2{
    text-shadow: 2px 2px #9B1C26;
}

th{
   text-align: center;
   background-color: #9B1C26;
}
td {
    text-align: center;
}

table.show {
    min-height: 150px;
}

DIV#chosen{
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}
TABLE#chosenTable{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

DIV#humans{
    float: left;
}

DIV#ghosts{
    float: right;
}

DIV#home1{
    position: absolute;
    min-height: 200px;
    top: 0px;
    left: 150px;  
    right:500px;
    width: auto;
}

DIV#home2{
    position: absolute;
    min-height: 200px;
    top: 150px;
    left: 150px;  
    right:500px;
    width: auto;
}

DIV#home0{
    position: absolute;
    min-height: 200px;
    top: 0px;
    left: 300px;  
    right:500px;
    width: auto;
}

DIV#filter{
    background-color:  #333333;
    border: 3px solid #333333;
}

DIV#img{
}

ul.a {
    list-style-type: circle;
}

DIV#categories li
{
display:inline;
}
DIV#categories li a
{
font-family:Arial;
font-size:12px;
text-decoration: none;
float:left;
padding:10px;
background-color: #333333;
color:#ffffff;
border-bottom:1px;
border-bottom-color:#000000;
border-bottom-style:solid;
}
DIV#categories .active a, DIV#categories li a:hover
{
background-color:#9B1C26;
padding-bottom:12px;
border-bottom:2px;
border-bottom-color:#000000;
border-bottom-style:solid;
margin:-1px;
}

header,
footer,
nav,
section {
    display: block;
}


DIV#framecontent{
    position: absolute; 
    top: 18%; 
    left: 80px;  
    right:100px;
    width: auto; /*Width of left frame div*/
    height: 60%;
    border-style: groove;
    overflow: scroll; 
    background-color: grey;
    opacity: 0.75; /*Width of left frame div*/
}

DIV#homecontent{
position: absolute; 
top: 18%; 
left: 80px;  
right:100px;
width: auto; /*Width of left frame div*/
height: 80%;
border-style: groove;
color: black;
background-color: grey ;
opacity: 0.75;
}
DIV#newContent{
    position: absolute; 
    top: 30%; 
    left: 20%;  
    width: auto; /*Width of left frame div*/
    border-style: groove;
    color: black;
    background-color: grey ;
    opacity: 0.75;
}

#createButton{
    position: absolute;
    top:80%;
    left:40%;
    color: #9B1C26;
    font-weight: bold;
    font-size: 120%;
    border: #9B1C26;
    border-radius: 5px;
    border-color: #9B1C26;
    border-style: solid;
    border-width: 2px;
}

#confirmButton{
    position:absolute;
    margin-top:20px;
    left: 45%;
    color: #9B1C26;
    font-weight: bold;
    border: #9B1C26;
    border-radius: 5px;
    border-color: #9B1C26;
    border-style: solid;
    border-width: 2px;
}

#abilityButton{
    position: absolute;
    top:9%;
    left:27%;
    color: #9B1C26;
    font-weight: bold;
    border: #9B1C26;
    border-radius: 5px;
    border-color: #9B1C26;
    border-style: solid;
    border-width: 2px;

}

#generalButton{
    color: #9B1C26;
    font-weight: bold;
    border: #9B1C26;
    border-radius: 5px;
    border-color: #9B1C26;
    border-style: solid;
    border-width: 2px;
}
.centerButton{
    margin-left: auto;
    margin-right: auto;
}

#form{
    top: 100px; 
    left: 39%; 
}

#historyFrame{
    max-width: 45px;
    max-height: 15px;
    overflow: hidden;
}
#abilityDescriptionFrame{
    text-align: left;
    max-width: 100px;
    overflow:hidden;
}
@font-face {
    font-family: 'BloodyNormal';
    src: url('fonts/web fonts/bloody_normal_ubasic/BLOODY-webfont.eot');
    src: url('fonts/web fonts/bloody_normal_ubasic/BLOODY-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/web fonts/bloody_normal_ubasic/BLOODY-webfont.woff') format('woff'),
         url('fonts/web fonts/bloody_normal_ubasic/BLOODY-webfont.ttf') format('truetype'),
         url('fonts/web fonts/bloody_normal_ubasic/BLOODY-webfont.svg#BloodyNormal') format('svg');
}

/* Styles for basic forms
-----------------------------------------------------------*/

fieldset 
{
    border:1px solid #ddd;
    padding:0 1.4em 1.4em 1.4em;
    margin:0 0 1.5em 0;
}

legend 
{
    font-size:1.2em;
    font-weight: bold;
}

textarea 
{
    min-height: 75px;
}

.editor-label 
{
    margin: 1em 0 0 0;
}

.editor-field 
{
    margin:0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}

/* my CSS */

BODY { font-family: Cambria, Georgia, "Times New Roman"; margin: 0; }
DIV#header DIV.title, DIV.item H3, DIV.item H4, DIV.pager A {
    font: bold 1em "Arial Narrow", "Franklin Gothic Medium", Arial;
}
DIV#header { background-color: #444; border-bottom: 2px solid #111; }
DIV#header DIV.title { 
       font-size: 2em; 
       padding: .6em; 
       text-align: center; 
       font-family: 'BloodyNormal',Helvetica,Arial,sans-serif;
       font-weight: normal;
       font-style: normal;
}
DIV#header DIV.language { 
       float: right;
       font-size: 1.5em; 
       font-family: "Trebuchet MS", Verdana, Helvetica, Sans-Serif;
       font-style: normal;
}
DIV#content {  margin-left: 9em; padding: 1em; }
DIV#categories { 
    padding:0;
    top: 50px; 
    left: 80px;
    width:960px;  
    height:132px;  
    margin:0 auto;  
    background:transparent url(images/containerbg.jpg);   
}
 


DIV.item { border-top: 1px dotted gray; padding-top: .7em; margin-bottom: .7em; }
DIV.item:first-child { border-top:none; padding-top: 0; }
DIV.item H3 { font-size: 1.3em; margin: 0 0 .25em 0; }
DIV.item H4 { font-size: 1.1em; margin:.4em 0 0 0; }

DIV.pager { text-align:right; border-top: 2px solid silver;
    padding: .5em 0 0 0; margin-top: 1em; }
DIV.pager A { font-size: 1.1em; color: #666; text-decoration: none;
    padding: 0 .4em 0 .4em; }
DIV.pager A:hover { background-color: Silver; }
DIV.pager A.selected { background-color: #353535; color: White; }

/* CSS for the Category Links */

DIV#categories A
{
    font: bold 1.1em "Arial Narrow","Franklin Gothic Medium",Arial; display: block;
    text-decoration: none; padding: .6em; color: white;
    border-bottom: 1px solid silver;
}


/* Styling the Buttons */

FORM { margin: 0; padding: 0; }
DIV.item FORM { float:right; }
DIV.item INPUT {
    color:White; background-color: #333; border: 1px solid black; cursor:pointer;
}

// CSS for Displaying the Contents of the Cart 

H2 { margin-top: 0.3em }
TFOOT TD { border-top: 1px dotted gray; font-weight: bold; }
.actionButtons A, INPUT.actionButtons {
    font: .8em Arial; color: White; margin: .5em;
    text-decoration: none; padding: .15em 1.5em .2em 1.5em;
    background-color: #353535; border: 1px solid black;
}

// CSS for Cart Summary 

DIV#cart { float:right; margin: .8em; color: Silver;
    background-color: #555; padding: .5em .5em .5em 1em; }
DIV#cart A { text-decoration: none; padding: .4em 1em .4em 1em; line-height:2.1em;
    margin-left: .5em; background-color: #333; color:White; border: 1px solid black;}

.listTable tr:hover
{
    background-color: #666666;
}
.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
 
.msg {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
 
#login-box {
	width: 300px;
	padding: 20px;
	margin: 100px auto;
	background: #fff;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
}
